:root{
    --circleDiameter: 200px;
    --circleRadius: calc(var(--circleDiameter)/2);

    --subcartTopBCol: orange;
    --subcartTopTCol: white;

    --leftRightMarginBestelButton: 70px;
}

body{
    padding: 0px;
    margin: 0px;
    position: relative;
    background-color: #fbfbfb;
}

a, button{
    display: block;
    text-decoration: none;
    
    border: none;
    border-radius: 10px;

    background-color: orange;
    color: black;
}

/*///////////////////////////////////////
Subscription Cards
///////////////////////////////////////*/

.subscriptioncard{
    display: grid;
    grid-template-columns:1fr var(--circleDiameter) 1fr;
    grid-template-rows: calc(200px - var(--circleRadius)) repeat(2, var(--circleRadius)) 1fr;
    align-items: stretch;
    justify-items: stretch;
    overflow: hidden;

    height: 700px;
    width: 350px;

    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.subcart_top{
    grid-column: 1/ span 3;
    grid-row: 1/ span 2;

    background-color: var(--subcartTopBCol);
    color: var(--subcartTopTCol);
}

.subcart_top h2{
    margin-top: 30px;

    text-align: center;
    font-size: 34px;
}

.subcart_price{
    grid-column: 2;
    grid-row: 2/ span 2;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 10px solid rgba(255, 255, 255, 0.411);
    border-radius: 50%;

    -moz-background-clip: padding; 
    -webkit-background-clip: padding; 
    background-clip: padding-box; 

    background-color: white;
}

.subcart_price h3{
    height: max-content;
    width: max-content;

    margin: 0px;

    font-size: 45px;
    font-weight: bold;
}

.subcart_bottom{
    grid-column: 1/ span 3;
    grid-row: 3/ span 2;

    position: relative;
    z-index: -1;

    background-color: lightgray;
}

.subcart_bottom p{
    margin: 130px 30px 0px 30px;

    font-size: 16px;
    font-weight: normal;
    text-align: center;

    color: darkslategrey;
}

.subcart_bottom a{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    left: var(--leftRightMarginBestelButton);
    height: 50px;
    width: calc(350px - calc(2*var(--leftRightMarginBestelButton)));

    font-size: 23px;
    font-weight: bold;

    color: white;
}

/*///////////////////////////////////////
Contact form
///////////////////////////////////////*/

.contactform{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.contactform > input{
    width: 350px;
    
    padding: 10px 5px;
    margin-top: 10px;
    border: 2px solid #8e8e8e;
    border-radius: 10px;
    
    font-size: 18px;
}

.contactform > button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 250px;

    margin-top: 30px;

    font-size: 23px;
    font-weight: bold;

    color: white;
}

/*///////////////////////////////////////
Ruit container
///////////////////////////////////////*/

.ruitsection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px 40px;
}

.ruitcard{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;

    width: max-content;
    height: 600px;
}

.ruitcard h1{
    margin-top: 40px;
    margin-bottom: 6px;
    max-width: 190px;
    text-align: center;
    color: gray;
}

.ruitcard p{
    max-width: 170px;
    
    margin-top: 6px;

    text-align: center;
    font-size: 25px;
    color: lightgrey;

}

hr{
    width: 70%;
    border-top: 2px solid black;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.ruitcontainer{
    transform: rotate(45deg);
    
    border: 1px solid black;

    height: 200px;
    width: 200px;

    background-color: white;
}

.ruitcard .ruitcontainer{
    margin-top: 60px;
    margin-bottom: 30px;
}

.ruitcontainer > img{
    transform: rotate(-45deg);

    width: 80%;
    height: 80%;

    margin: 10%;

    object-fit: contain;
    object-position: center;
}

.ruitsection hr{
    width: 90px;
    border-color: rgb(196, 196, 196);
}


/*///////////////////////////////////////
Section type B
///////////////////////////////////////*/

.section_b{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px 0px;
}

.section_b h1{
    margin: 0px;

    font-size: 30px;
    font-weight: bold;
    color: orange;
    
}

.section_b > p{
    max-width: 350px;

    text-align: center;    
    font-size: 24px;
    color: #6e6e6e;
}

.carddisplay{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* padding: 40px; */
    flex-wrap: wrap;
}




.hero_polygon{
    display: flex;
    flex-direction: column;
    align-items:center;
    overflow: hidden;

    position: relative;
    height: 750px;
    width: 100vw;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    -o-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    -ms-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

.hero_polygon img{
    
    position: absolute;
    
    z-index: -3;
    top: 0;
    bottom:0;

    object-fit: cover;
    filter: grayscale(50%);
    filter: brightness(40%);
    height: 100%;
    width: 100%;
}

.hero_polygon h1{
    font-size: 80px;
    color: white;

    text-align: center;
    margin-top: 200px;
    margin-bottom: 0px;
}
.hero_polygon h2{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;

    color: white;
}

.hero_polygon .buttonspace{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-evenly;
    margin-top: 100px;
}

.hero_polygon a{
    padding: 20px 0px;
    width: 300px;
    text-align: center;
    text-justify: center;

    margin-top: 30px;

    font-size: 28px;
    font-weight: bold;
    color: white;
}

.buttonspace a:nth-child(2){
    background-color: rgba(255, 140, 0, 0);
    border: 2px solid white;
}

nav{
    position: sticky;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100vw;
    background-color: white;
    z-index: 6;
}

nav .prebox{
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 40vw;

    margin-left: 40px;
}
nav .postbox{
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 40vw;
    margin-right: 40px;
}

nav a{
    height: auto;
    width: auto;
    padding: none;
    text-align: center;

    font-size: 20px;
    
    background-color: rgba(255, 255, 255, 0);
    color: darkgray;
}

.navlogo{
    height: 120px;
    width: 120px;
    top: 0px;
    left: calc(50vw - 60px);
    z-index: 4;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}