:root{
    --circleDiameter: 200px;
    --circleRadius: calc(var(--circleDiameter)/2);

    --subcartTopBCol: orange;
    --subcartTopTCol: white;

    --leftRightMarginBestelButton: 70px;

    --button-hover-bcolor: #414141;
}

body{
    position: relative;
    padding: 0px;
    margin: 0px;
    
    background-color: #fbfbfb;
}

a, button{
    display: block;
    text-decoration: none;
    
    border: none;
    border-radius: 10px;

    background-color: orange;
    color: black;
}

a:hover, button:hover{
    background-color: #414141;
}

h1, h2, h3, h4, h5, h6, p, a, button{
    font-family: sans-serif;
}

/*///////////////////////////////////////
Subscription Cards
///////////////////////////////////////*/

.carddisplay{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.subscriptioncard{
    display: grid;
    grid-template-columns:1fr var(--circleDiameter) 1fr;
    grid-template-rows: calc(200px - var(--circleRadius)) repeat(2, var(--circleRadius)) 1fr;
    align-items: stretch;
    justify-items: stretch;
    overflow: hidden;

    height: 700px;
    width: 420px;

    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.subcart_top{
    grid-column: 1/ span 3;
    grid-row: 1/ span 2;

    background-color: var(--subcartTopBCol);
    color: var(--subcartTopTCol);
}

.subcart_top h2{
    margin-top: 30px;

    text-align: center;
    font-size: 34px;
}

.subcart_price{
    grid-column: 2;
    grid-row: 2/ span 2;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 10px solid rgba(255, 255, 255, 0.411);
    border-radius: 50%;

    -moz-background-clip: padding; 
    -webkit-background-clip: padding; 
    background-clip: padding; 

    background-color: white;
}

.subcart_price h3{
    height: max-content;
    width: max-content;

    margin: 0px;

    font-size: 45px;
    font-weight: bold;
}

.subcart_bottom{
    grid-column: 1/ span 3;
    grid-row: 3/ span 2;

    position: relative;
    z-index: -1;

    background-color: rgb(240, 240, 240);
}

.subcart_bottom p{
    margin: 130px 30px 0px 30px;

    text-align: center;
    font-size: 16px;
    font-weight: normal;

    color: darkslategrey;
}

.subcart_bottom a{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 30px;
    left: var(--leftRightMarginBestelButton);
    height: 50px;
    width: calc(100% - calc(2*var(--leftRightMarginBestelButton)));

    font-size: 23px;
    font-weight: bold;

    color: white;
}

.subscriptioncard:nth-last-child(1) .subcart_top{
    background-color: rgb(169, 169, 169);
}

.subscriptioncard:nth-last-child(1) a{
    background-color: rgb(169, 169, 169);
}

.subscriptioncard:hover .subcart_bottom a{
    background-color: var(--button-hover-bcolor);
    cursor: pointer;
}
/*///////////////////////////////////////
Contact form
///////////////////////////////////////*/

.contactform{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.contactform > input{
    width: 350px;
    max-width: 85vw;
    
    padding: 10px 5px;
    margin-top: 10px;
    border: 2px solid #8e8e8e;
    border-radius: 10px;
    
    font-size: 18px;
}

.contactform > button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 250px;

    margin-top: 30px;

    font-size: 23px;
    font-weight: bold;

    color: white;
}

/*///////////////////////////////////////
Ruit section
///////////////////////////////////////*/

.ruitsection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px 0px;
}

.ruitcard{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;

    width: max-content;
    height: 520px;
}

.ruitcard h1{
    max-width: 220px;

    margin-top: 40px;
    margin-bottom: 6px;
    
    text-align: center;
    color: rgb(109, 109, 109);
}

.ruitcard p{
    max-width: 170px;
    
    margin-top: 6px;

    text-align: center;
    font-size: 20px;
    color: rgb(181, 181, 181);

}

hr{
    width: 70%;
    border-top: 2px solid black;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.ruitcontainer{
    transform: rotate(45deg);
    
    border: 1px solid black;

    height: 200px;
    width: 200px;

    background-color: white;
}

.ruitcard .ruitcontainer{
    margin-top: 60px;
    margin-bottom: 30px;
}

.ruitcontainer > img{
    transform: rotate(-45deg);

    width: 80%;
    height: 80%;

    margin: 10%;

    object-fit: contain;
    object-position: center;
}

.ruitsection hr{
    width: 90px;
    border-color: rgb(196, 196, 196);
}


/*///////////////////////////////////////
Section type B
///////////////////////////////////////*/

.section_b{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px 0px;
}

.section_b h1{
    margin: 0px;

    font-size: 30px;
    font-weight: bold;
    color: orange;
    
}

.section_b > p{
    max-width: 350px;

    text-align: center;    
    font-size: 24px;
    color: #6e6e6e;
}


/*///////////////////////////////////////
Hero image
///////////////////////////////////////*/


.hero_polygon{
    display: flex;
    flex-direction: column;
    align-items:center;
    overflow: hidden;

    position: relative;
    height: 750px;
    width: 100vw;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    -o-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    -ms-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

.hero_polygon img{
    position: absolute;
    
    z-index: -3;
    top: 0;
    bottom:0;

    object-fit: cover;
    filter: grayscale(50%);
    filter: brightness(40%);
    height: 100%;
    width: 100%;
}

.hero_polygon h1{
    margin-top: 200px;
    margin-bottom: 0px;

    text-align: center;
    font-size: 80px;
    line-height: .9em;
    font-family: serif;

    color: white;
}

.hero_polygon h2{
    margin-top: 20px;

    text-align: center;
    font-size: 20px;
    font-family: serif;

    color: white;
}

.hero_polygon .buttonspace{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    width: 70%;

    margin-top: 100px;
}

.hero_polygon a{
    width: 300px;
    padding: 20px 0px;
    margin-top: 30px;

    text-align: center;
    text-justify: center;
    font-size: 28px;
    font-weight: bold;

    color: white;
}

.buttonspace a:nth-child(2){
    border: 2px solid white;
    background-color: rgba(255, 140, 0, 0);
}

/*///////////////////////////////////////
Navbar
///////////////////////////////////////*/

nav{
    position: sticky;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100vw;
    z-index: 6;
    
    background-color: white;
}

nav .prebox{
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 40vw;

    margin-left: 40px;
}

nav .postbox{
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 40vw;

    margin-right: 40px;
}

nav a{
    height: auto;
    width: auto;
    text-align: center;

    padding: none;
    
    font-size: 20px;
    
    background-color: rgba(255, 255, 255, 0);
    color: darkgray;
}

nav a:hover{
    background-color: transparent;
    text-decoration: underline;
}

.navlogo{
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    top: 0px;
    left: calc(50vw - 60px);
    height: 120px;
    width: 120px;
    z-index: 19;

    border-radius: 50%;

    background-color: white;
    color: black;  
}

.navlogo h1{
    height: max-content;

    font-family: serif;
    font-size: 60px;
    font-weight: bold;

    color: #0e0e0e;
}

/*///////////////////////////////////////
About (infosection)
///////////////////////////////////////*/

.infosection{
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    margin-top: 30px;
}

.infosection > .content{
    grid-column: 1;
    grid-row: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.infosection > img{
    grid-column: 2;
    grid-row: 1;

    height: 660px;
    width: 1120px;

    transform: translateX(-70px);
    transform: translateY(-25px);
}

.infosection > .content h1{
    margin-left: 50px;
    margin-bottom: 5px;
    
    font-size: 41px;

    color:orange;
}

.infosection > .content > hr{
    width: 90px;
    margin: 0px 0px 20px 50px;
    border-top: 2px solid rgb(119, 119, 119);
}

.infosection > .content p{
    margin-left: 50px;
    
    line-height: 1.55rem;
    font-size: 16px;

    color:grey;
}

.infosection > .content a{
    display: block;
    text-decoration: none;
    width: max-content;

    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 40px;
    padding: 20px 50px;
    border-radius: 10px;

    font-size: 30px;

    background-color: orange;
    color: white;
}

.infosection > .content a:hover{
    background-color: var(--button-hover-bcolor);
}

/*///////////////////////////////////////
Uitleg (phonesection)
///////////////////////////////////////*/

.phonesection{
    display: grid;
    column-gap: 0px;
    grid-template-columns: 671px 1fr;
    width: 100%;
}

.phonesection > .content{
    grid-column: 1;
    grid-row: 1;

    height: max-content;
    width: 670px;

    padding: 0px 0px 40px 0px;
    border: 1px solid black;
    border-right: 0px;

    background-color: #414141;
}

.phonesection > .sideimage{
    grid-column: 2;
    align-self: stretch;

    border: 1px solid black;

    background-image: url("macbook.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sideimage > .shader{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.299);
}

.salepointblock{
    display: block;
    position: relative;
    width: calc(100% - 100px);

    margin-top: 80px;
    margin-left: 100px;
}

.salepointblock .ruitcontainer{
    position: absolute;
    top: 20px;
    right: -52px;
    z-index: 2;
    height: 100px;
    width: 100px;

    background-color: white;
}

.salepointblock h1, .salepointblock h2{
    font-size: 30px;
    font-weight: bold;
    color: orange;
}

.salepointblock h1{
    margin-bottom: 5px;
}

.salepointblock hr{
    max-width: 70px;
    margin: 0px;
    border-top: 1px solid rgb(126, 126, 126);
}

.salepointblock p{
    margin-right: 80px;

    font-size: 20px;
    font-weight: normal;

    color: lightgray;
}

.content .salepointblock:nth-child(1){
    margin-top: 30px;
}

/*///////////////////////////////////////
Footer
///////////////////////////////////////*/

footer{
    display: flex;
    align-items: center;
    position: relative;
    height: 80px;
    background-color: #1e1e1e;
}

footer a{
    display: block;
    text-decoration: none;
    justify-self: left;
    height: 40px;
    width: 40px;

    margin-left: 20px;

    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

footer p{
    flex-grow: 1;
    margin: 0px 10vw 0px 0px;
    text-align: end;
    color: white;
}

footer span {
    display: inline-block;
}

footer .facebooklink{
    background-image: url("facebook.png");
    filter: invert();
    margin-left: 10vw;
}

footer .twitterlink{
    background-image: url("twitter.png");
    filter: invert();
}




/*///////////////////////////////////////
Media queries
///////////////////////////////////////*/

@media only screen and (max-width: 1200px){

    /*---- Phonesection ----*/

    .phonesection{
        grid-template-columns: 1fr 0px;
    }    

    .phonesection .content{
        width: auto;
    }

    .phonesection > .sideimage{
        display: none;
    }

    .salepointblock .ruitcontainer{
        right: auto;
        left: calc(150px + 45vw);
    }

    .salepointblock p{
        max-width: 490px;
    }

}

@media only screen and (max-width: 690px){

    /*---- Navbar ----*/

    nav {
        position: fixed;
    }
    
    nav .prebox{
        margin-left: 0px;
        width: 50vw;
    }

    nav .postbox{
        margin-right: 0px;
        width: 50vw;
    }

    .navlogo{
        display: none;
    }

    /*---- Phonesection ----*/

    .salepointblock .ruitcontainer{
        display: none;
    }

    .salepointblock{
        margin-top: 40px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .salepointblock p{
        max-width: 100%;
        margin-left: 40px;
        margin-right: 40px;
        text-align: center;
    }

    /*---- Phonesection ----*/

    .infosection > .content{
        align-items: center;
    }

    .infosection > img{
        display: none;
    }

    .infosection > .content > a, .infosection > .content > h1, .infosection > .content > p, .infosection > .content > hr{
        margin: 10px 30px;
        text-align: center;
    }

    .infosection > .content > a{
        margin-bottom: 40px;
    }

    .infosection > .content > hr{
        margin: 10px 40px;
        width: 150px;
    }

    .infosection{
        grid-template-columns: 1fr;
    }

    /*---- Hero image ----*/

    .hero_polygon .buttonspace{
        margin-top: 40px;
    }

    .hero_polygon .buttonspace a{
        margin-top: 10px;
    }

    /*---- Subscription cards ----*/

    .subscriptioncard{
        margin-left: 20px;
        margin-right: 20px;
    }
}