.phonesection{
    display: grid;
    column-gap: 0px;
    grid-template-columns: 671px 1fr;
    width: 100%;
}

.phonesection > .content{
    grid-column: 1;
    grid-row: 1;

    height: max-content;
    width: 670px;

    padding: 0px 0px 40px 0px;
    border: 1px solid black;
    border-right: 0px;

    background-color: #414141;
}

.phonesection > .sideimage{
    grid-column: 2;
    align-self: stretch;
    border: 1px solid black;
    background-image: url("macbook.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sideimage > .shader{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.299);
}

.salepointblock{
    display: block;
    position: relative;
    margin-top: 80px;
    margin-left: 100px;
    width: calc(100% - 100px);
}

.salepointblock .ruitcontainer{
    position: absolute;
    top: 20px;
    right: -52px;
    z-index: 2;
    height: 100px;
    width: 100px;
    background-color: white;
}

.salepointblock h1, .salepointblock h2{
    font-size: 30px;
    font-weight: bold;
    color: orange;
}

.salepointblock h1{
    margin-bottom: 5px;
}

.salepointblock hr{
    max-width: 70px;
    margin: 0px;
    border-top: 1px solid rgb(126, 126, 126);
}

.salepointblock p{
    margin-right: 80px;
    font-size: 20px;
    font-weight: normal;
    color: lightgray;
}

.content .salepointblock:nth-child(1){
    margin-top: 30px;
}

@media only screen and (max-width: 1200px){
    .salepointblock .ruitcontainer{
        right: auto;
        left: calc(150px + 45vw);
    }

    .salepointblock p{
        max-width: 490px;
    }

    .phonesection{
        grid-template-columns: 1fr 0px;
    }    

    .phonesection .content{
        width: auto;
    }

    .phonesection > .sideimage{
        display: none;
    }
    
}

@media only screen and (max-width: 690px){
    .salepointblock{
        margin-left: 30px;
    }

    .salepointblock .ruitcontainer{
        left: 400px;
    }

    .salepointblock p{
        max-width: 350px;
    }
}